<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css">
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
        <title>Welcome</title>
    </head>
    <body>
        <!-- Load an icon library -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- The sidebar -->
		<div class="sidenav">
		  <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
		  <a href="/about/"><i class="fa fa-phone"></i> About</a>
		  <a href="/contact"><i class="fa fa-fw fa-envelope"></i> Contact Me</a>
		</div>
		<div class="container">
            <h1>Welcome to the about page</h1>
        </div>
    </body>
</html>