<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <title>Contact</title>
</head>
    <body>
        <!-- Load an icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- The sidebar -->
        <div class="sidenav">
          <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
          <a href="/about/"><i class="fa fa-phone"></i> About</a>
          <a href="/contact"><i class="fa fa-fw fa-envelope"></i> Contact Me</a>
        </div>
        <div class="container">
            <p><span style="font-weight: 400;"></span><a href="mailto:jamesrocker@hotmail.co.uk"><span style="font-weight: 400;">Email</span></a></p>
            <p><span style="font-weight: 400;">Telephone: Available on request</span></p>
            <p><span style="font-weight: 400;"></span><a href="https://github.com/TheRockerfly"><span style="font-weight: 400;">Portfolio</span></a></p>
        </div>
    </body>
</html>