<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css" />
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
        <title>James Rocker CV</title>
        <style>
            div.side_nav {
                text-align: left;
            }
            div.header_div {
                text-align: center;
                font-weight: 400;
            }
            div.body_div {
                padding: 35px;
                font-weight: 400;
            }
            li {
                font-weight: 400;
            }
            div.sub_header {
                font-weight: 400;
            }
        </style>
    </head>

    <body>
        <!-- Load an icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

        <!-- The sidebar -->
        <div class="side_nav">
            <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="/about/"><i class="fa fa-phone"></i> About</a>
            <a href="/contact"><i class="fa fa-fw fa-envelope"></i> Contact Me</a>
        </div>

        <!-- The header of the cv -->
        <div class="header_div">
            <p><strong>James Rocker CV</strong></p>
        </div>

        <div class="body_div">
            <p>Location:&nbsp; Milton Keynes</p>
            <p><strong>SUMMARY &amp; OVERVIEW</strong></p>
            <p>
				A data engineer interested in business intelligence, data modeling, engineering data solutions, and data analytics, with practical experience of the commercial and technical challenges facing businesses.&nbsp;&nbsp;
            </p>

            <p><strong>EDUCATION</strong></p>
            <p>Nottingham Trent University (Sept 2010 - July 2013): BA in Business Management and Operations</p>

            <p><strong>EMPLOYMENT HISTORY</strong></p>
            <div class="sub_header">
                <p><strong>SOC Data Analyst &amp; SQL Engineer - Securitas</strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>(April 2018 to present)</p>
            </div>
            <ul>
                <li>Established a new client statistics portal for national customers, providing common data standards, substantially improved performance, accuracy, and reporting capability; replaced manual input</li>
                <ul>
                    <li>Lead projects, agreed on requirements with account managers, defined timeline and responsibilities</li>
                    <li>Built web scrapers and integrated cloud APIs using Python data capture scripts.</li>
                    <li>Built and maintained Python Scripts and SSIS packages for data pipelines and ETL systems</li>
                    <li>Produced multi-client Power BI dashboard: Developed and optimised new supporting SQL database, with row-level security</li>
                    <li>Deploying scripting project virtual environments for data analytic platforms.</li>
                    <li>Built functional test cases delivering automated reports on the unit test results.</li>
                    <li>Eliminated a variety of ad hoc Excel and other local solutions used previously for client analytics</li>
                </ul>
                <li>Re-designed existing customer recurring reports to replace 150 similar reports using different file formats with a single parameterised common report template and unified underlying SQL database.</li>
                <ul>
                    <li>Initiated and lead the project; liaised with internal customers to establish requirements</li>
                    <li>Built new SSIS package to deliver the common report, within the new SSRS framework</li>
                    <li>Re-wrote base SQL scripts for accuracy and performance; implemented new stored procedures</li>
                </ul>
                <li>Lead Power BI workshops for transferring skills to analysts within the business.</li>
                <li>Other small internal projects:</li>
                <ul>
                    <li>Created Python scripts to clean and automate existing ad-hoc reports.</li>
                    <li>Built an MS Access application for small in-house HR training management system</li>
                    <li>Developed Power BI dashboards for internal use</li>
                </ul>
            </ul>
            <p>&nbsp;</p>

            <div class="sub_header">
                <p>
                    <strong>Data Analyst &ndash; Gala Bingo </strong><strong>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; </strong>(June 2017 to Feb
                    2018)
                </p>
            </div>
            <ul>
                <li class="level_1">Reporting to the Business Intelligence director with financial analytics, KPIs and daily reports</li>
                <li class="level_1">Improved timeliness, reliability and usability of daily/weekly financial reporting, through:</li>
                <ul>
                    <li>Automation of ETL from &gt;200 Excel files using Python, replacing unstable VBA scripts&nbsp;</li>
                    <li>Development of SQL stored procedures to extract data from multiple sources</li>
                    <li>Delivery of Power BI dashboards for KPIs, replacing old SSRS reports</li>
                    <li>Creation of new SQL extracts as source data for SSRS, with dynamic reporting parameters</li>
                    <li>Maintained and developed existing VBA scripts for SQL data warehouse and some Excel dashboards</li>
                </ul>
            </ul>
            <p>&nbsp;</p>

            <div class="sub_header">
                <p><strong>Technical Support Analyst &ndash; Collision Management Systems </strong><strong>&nbsp;&nbsp;&nbsp; </strong>(June 2016 to June 2017)</p>
            </div>
            <ul>
                <li>Reporting to the CEO: Significantly improved key business reporting service (internal &amp; external customers) by automating existing manual large text database analysis process, using Python</li>
                <li>Produced new application &amp; user interface to return vehicle details from an external API</li>
                <li>Eliminated several manual spreadsheet-based data collection and reporting processes</li>
                <li>Developed data collection programs from external websites using Python web-scraping scripts</li>
                <li>Created dynamic data visualisations of large datasets using Power BI, R-Stats and Python scripts</li>
                <li>Investigate, refer, escalate and resolve technical API support queries</li>
                <li>Perform product software testing on corporate web product, liaising with developers</li>
            </ul>
            <p>&nbsp;</p>

            <div class="sub_header">
                <p><strong>Data Analyst - Lambert Contracts, Glasgow</strong><strong>&nbsp;&nbsp;&nbsp; </strong>(Jan 2016 to June 2016)</p>
            </div>
            <ul>
                <li>Reporting to the Finance Director; producing financial, KPI and business performance analyses</li>
                <li>Analysing commercial and technical issues, determining business requirements, then initiating and delivering solutions. These included software, hardware and business process improvements</li>
                <li>As the System Administrator for the business; introduced significant improvements to the security, data quality, scripts and backups of the SQL Server 2008 database, and automated user set-up</li>
                <li>Introduced Azure cloud data storage for data analytics and testing production system changes</li>
                <li>Implemented new relational data warehouse to improve the quality and flexibility of business reporting</li>
                <li>Deployment of mobile computing for field staff, including creating installation images using Python</li>
                <li>Managing set-up of IT infrastructure for a new remote site, coordinating with 3rd party suppliers</li>
            </ul>
            <p>&nbsp;</p>

            <div class="sub_header">
                <p><strong>Customer Service - Hewlett Packard Financial Services</strong><strong>&nbsp;&nbsp;&nbsp; </strong>(Oct 2014 to Jan 2016)</p>
            </div>
            <ul>
                <li>Prepared sales orders from local and global systems for uploading to billing/finance</li>
                <li>Financial data analysis, presentation, and planning; using SQL, Excel, and other desktop tools</li>
                <li>Used Excel VBA scripts, formulas, and pivot tables to automate and improve reporting processes</li>
            </ul>
            <p>&nbsp;</p>

            <div class="sub_header">
                <p><strong>Stock Controller &ndash; Baxter Healthcare</strong><strong>&nbsp;&nbsp;&nbsp; </strong>(Feb 2014 to Jul 2014)</p>
            </div>
            <ul>
                <li>Led and contributed to various process improvement projects</li>
                <li>Improved stock management procedures by creating new reports using VBA and Access, extracting data directly from legacy SQL database via ODBC link</li>
                <li>Maintained inventory data quality on a WMS and an AS400 inventory system</li>
            </ul>
            <p>&nbsp;</p>

            <div class="sub_header">
                <p><strong>Business Support Administrator &ndash; Baxter Healthcare</strong><strong>&nbsp;&nbsp;&nbsp; </strong>(Jul 2013 &ndash; Jan 2014)</p>
            </div>
            <ul>
                <li>Developed small scale networked inventory systems to replace manual paper systems</li>
                <li>Automated a networked process to deliver timely and accurate management information</li>
                <li>Used Excel VBA to develop functions and macros for data analysis and presentation</li>
            </ul>
            <p>&nbsp;</p>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <p><strong>Technical Proficiencies</strong></p>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <p>SQL</p>
                        </td>
                        <td>
                            <p>5+ years</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>TSQL, SSIS, SSRS</p>
                        </td>
                        <td>
                            <p>4 years></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Python:</p>
                            <p>Datacamp certified Python programmer and Data Analyst</p>
                            <p>Extensively used Pandas, SQLAlchemy, Beautiful Soup, Numpy, Matplotlib, Bokeh, Requests, Geopandas, Selenium</p>
                        </td>
                        <td>
                            <p>4 years</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Power BI</p>
                        </td>
                        <td>
                            <p>3 years</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>MS Access, VBA</p>
                        </td>
                        <td>
                            <p>3 years</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Microsoft Excel</p>
                        </td>
                        <td>
                            <p>8 years</p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--		footer-->
            <p><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
            <p><a href="/about/">About Me</a></p>
            <p><a href="https://github.com/TheRockerfly/my_cv_site">The website repo</a></p>
        </div>
    </body>
</html>
