<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css">
        <title>My CV!</title>
    </head>
<body>
<p><strong>James Rocker CV</strong></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Address:&nbsp; 12 Elgar Grove, Milton Keynes, MK7 8DX</span></p>
<p><span style="font-weight: 400;">Email:</span><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp; </span><a href="mailto:jamesrocker@hotmail.co.uk"><span style="font-weight: 400;">jamesrocker@hotmail.co.uk</span></a></p>
<p><span style="font-weight: 400;">Telephone: 07506748262</span></p>
<p><span style="font-weight: 400;">Portfolio: </span><a href="https://github.com/TheRockerfly"><span style="font-weight: 400;">https://github.com/TheRockerfly</span></a></p>
<p><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
<p><strong>SUMMARY &amp; OVERVIEW</strong></p>
<p><span style="font-weight: 400;">A data engineer interested in business intelligence, data modeling, engineering data solutions, and data analytics, with practical experience of the commercial and technical challenges facing businesses.&nbsp;&nbsp;</span></p>
<p>&nbsp;</p>
<p><strong>EDUCATION</strong></p>
<h3><span style="font-weight: 400;">Nottingham Trent University (Sept 2010 - July 2013): BA in Business Management and Operations</span></h3>
<p>&nbsp;</p>
<p><strong>EMPLOYMENT HISTORY</strong></p>
<p><strong>SOC Data Analyst &amp; SQL Engineer - Securitas</strong><strong>&nbsp;&nbsp;&nbsp; </strong><strong>&nbsp;&nbsp;&nbsp; </strong><strong>&nbsp;&nbsp;&nbsp; </strong><strong>&nbsp;&nbsp;&nbsp; </strong><span style="font-weight: 400;">(April 2018 to present)</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Established a new client statistics portal for national customers, providing common data standards, substantially improved performance, accuracy, and reporting capability; replaced manual input.</span></li>
</ul>
<ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Lead projects, agreed on requirements with account managers, defined timeline and responsibilities</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Built web scrapers and integrated cloud APIs using Python data capture scripts.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Built and maintained Python Scripts and SSIS packages for data pipelines and ETL systems.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Produced multi-client Power BI dashboard: Developed and optimised new supporting SQL database, with row-level security.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Deploying scripting project virtual environments for data analytic platforms.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Built functional test cases delivering automated reports on the unit test results.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Eliminated a variety of ad hoc Excel and other local solutions used previously for client analytics</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Re-designed existing customer recurring reports to replace 150 similar reports using different file formats with a single parameterised common report template and unified underlying SQL database.</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Initiated and lead the project; liaised with internal customers to establish requirements</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Built new SSIS package to deliver the common report, within the new SSRS framework&nbsp;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Re-wrote base SQL scripts for accuracy and performance; implemented new stored procedures</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Lead Power BI workshops for transferring skills to analysts within the business.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Other small internal projects:</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Created Python scripts to clean and automate existing ad-hoc reports.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Built an MS Access application for small in-house HR training management system</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Developed Power BI dashboards for internal use</span></li>
</ul>
</ul>
<p>&nbsp;</p>
<p><strong>Data Analyst &ndash; Gala Bingo </strong><strong>&nbsp;&nbsp;&nbsp; </strong><strong>&nbsp;&nbsp;&nbsp; </strong><strong>&nbsp;&nbsp;&nbsp; </strong><strong>&nbsp;&nbsp;&nbsp; </strong><strong>&nbsp;&nbsp;&nbsp; </strong><strong>&nbsp;&nbsp;&nbsp; </strong><strong>&nbsp;&nbsp;&nbsp; </strong><span style="font-weight: 400;">(June 2017 to Feb 2018)</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Reporting to the Business Intelligence director with financial analytics, KPIs and daily reports</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Improved timeliness, reliability and usability of daily/weekly financial reporting, through:</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Automation of ETL from &gt;200 Excel files using Python, replacing unstable VBA scripts&nbsp;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Development of SQL stored procedures to extract data from multiple sources</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Delivery of Power BI dashboards for KPIs, replacing old SSRS reports</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Creation of new SQL extracts as source data for SSRS, with dynamic reporting parameters</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Maintained and developed existing VBA scripts for SQL data warehouse and some Excel dashboards</span></li>
</ul>
<p>&nbsp;</p>
<p><strong>Technical Support Analyst &ndash; Collision Management Systems </strong><strong>&nbsp;&nbsp;&nbsp; </strong><span style="font-weight: 400;">(June 2016 to June 2017)</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Reporting to the CEO: Significantly improved key business reporting service (internal &amp; external customers) by automating existing manual large text database analysis process, using Python&nbsp;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Produced new application &amp; user interface to return vehicle details from an external API</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Eliminated several manual spreadsheet-based data collection and reporting processes</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Developed data collection programs from external websites using Python web-scraping scripts</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Created dynamic data visualisations of large datasets using Power BI, R-Stats and Python scripts</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Investigate, refer, escalate and resolve technical API support queries</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Perform product software testing on corporate web product, liaising with developers</span></li>
</ul>
<p><br /><br /></p>
<p><strong>Data Analyst - Lambert Contracts, Glasgow</strong><strong>&nbsp;&nbsp;&nbsp; </strong><span style="font-weight: 400;">(Jan 2016 to June 2016)</span></p>
<ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Reporting to the Finance Director; producing financial, KPI and business performance analyses</span></li>
</ul>
</ul>
<p>&nbsp;</p>
<ul>
<li><strong><span style="font-weight: 400;">Analysing commercial and technical issues, determining business requirements, then initiating and delivering solutions. These included software, hardware and business process improvements</span></strong></li>
</ul>
<ul>
<li><span style="font-weight: 400;">As the System Administrator for the business; introduced significant improvements to the security, </span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">data quality, scripts and backups of the SQL Server 2008 database, and automated user set-up</span></li>
</ul>
<p>&nbsp;</p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Introduced Azure cloud data storage for data analytics and testing production system changes</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Implemented new relational data warehouse to improve the quality and flexibility of business reporting&nbsp;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Deployment of mobile computing for field staff, including creating installation images using Python</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Managing set-up of IT infrastructure for a new remote site, coordinating with 3</span><span style="font-weight: 400;">rd</span><span style="font-weight: 400;"> party suppliers</span></li>
</ul>
<p>&nbsp;</p>
<p><strong>Customer Service - Hewlett Packard Financial Services</strong><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp; </span><span style="font-weight: 400;">(Oct 2014 &ndash; Jan 2016)</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Prepared sales orders from local and global systems for uploading to billing/finance</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Financial data analysis, presentation, and planning; using SQL, Excel, and other desktop tools</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Used Excel VBA scripts, formulas, and pivot tables to automate and improve reporting processes&nbsp;</span></li>
</ul>
<p>&nbsp;</p>
<p><strong>Stock Controller &ndash; Baxter Healthcare</strong><strong>&nbsp;&nbsp;&nbsp; </strong><span style="font-weight: 400;"> (Feb 2014 &ndash; Jul 2014)</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Led and contributed to various process improvement projects</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Improved stock management procedures by creating new reports using VBA and Access, extracting data directly from legacy SQL database via ODBC link</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Maintained inventory data quality on a WMS and an AS400 inventory system&nbsp;</span></li>
</ul>
<p>&nbsp;</p>
<p><strong>Business Support Administrator &ndash; Baxter Healthcare</strong><strong>&nbsp;&nbsp;&nbsp; </strong><span style="font-weight: 400;">(Jul 2013 &ndash; Jan 2014)</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Developed small scale networked inventory systems to replace manual paper systems</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Automated a networked process to deliver timely and accurate management information</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Used Excel VBA to develop functions and macros for data analysis and presentation</span></li>
</ul>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td>
<p><strong>Technical Proficiencies</strong></p>
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">SQL&nbsp;</span></p>
</td>
<td>
<p><span style="font-weight: 400;">5+ years</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">TSQL, SSIS, SSRS&nbsp;</span></p>
</td>
<td>
<p><span style="font-weight: 400;">4 years</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">Python:</span></p>
<p><span style="font-weight: 400;">Datacamp certified Python programmer and Data Analyst</span></p>
<p><span style="font-weight: 400;">Extensively used Pandas, SQLAlchemy, Beautiful Soup, Numpy, Matplotlib, Bokeh, Requests, Geopandas, Selenium</span></p>
</td>
<td>
<p><span style="font-weight: 400;">4 years</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">Power BI</span></p>
</td>
<td>
<p><span style="font-weight: 400;">3 years</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">MS Access, VBA</span></p>
</td>
<td>
<p><span style="font-weight: 400;">3 years</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">Microsoft Excel</span></p>
</td>
<td>
<p><span style="font-weight: 400;">8 years</span></p>
</td>
</tr>
</tbody>
</table>
<p><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
</body>
</html>