<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css">
        <title>Welcome!</title>
    </head>
    <body>
        <h1>Hi!</h1>
        <p>My name is James. I am a Data/software Engineer in the UK. I have an interest in all things tech, automation, data and making peoples lives easier.</p>
        <p>The site is mostly static for the time being but it's using the following tools;</p>
        <ul>
            <li>Python for the primary language</li>
            <li>Django for the backend</li>
            <li>Github actions for the CI/CD</li>
            <li>flake8 for linting</li>
            <li>pytest for unit testing</li>
            <li>Heroku for hosting</li>
            <li>Bootstrap for frontend</li>
        </ul>
        <p><a href="/about/">About Me</a></p>
        <p><a href="/cv/">My CV</a></p>
        <p><a href="https://github.com/TheRockerfly/my_cv_site">The website repo</a></p>
    </body>
</html>